:host, .bigcontainer{
    background-color: black;
    color: rgba(255, 255, 255, 0.86);
    font-family: 'cursive', cursive;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzbvZ7_Sj-zY1fV4JVsKrTlnhILz_hhRQ69Q&s");
    background-size: 100%;
    background-repeat: no-repeat;
    height:100vh;
}



.container {
max-width: 800px;
margin: 50px auto;
padding: 20px;
background-color: #77778749;
border: 1px solid azure;
border-radius: 8px;
box-shadow: 0 0 10px rgba(119, 117, 117, 0.288);

}

h1 {
font-size: 32px;
margin-bottom: 20px;
}

h2 {
font-size: 24px;
margin-top: 20px;
}

p {
font-size: 16px;
line-height: 1.6;
}

.contact-section {
margin-bottom: 30px;
}

.contact-section h2 {
color: #fbf6f6;
}

.contact-section p {
margin: 0;
}

.social-media ul {
list-style-type: none;
padding: 0;
}

.social-media ul li {
display: inline;
margin-right: 10px;
}

.social-media ul li a {
color: #fdf5f5;
text-decoration: none;
}

.address-section p {
margin-top: 20px;
}