<div class="navbar">
  <div class="navbar-all_text">
  <div class="navbar-logo">
      <img src="assets\logo.png" alt="Logo"> <!-- Adjust the path to your logo -->
  </div>
  <div class="navbar-brand">
      TaleTwine <!-- Your website name -->
  </div>
  <div class="navbar-links">
      <a routerLink="/about">About</a>
      <a routerLink="/addpost">Add Story</a>
      <a routerLink="/home">View Story</a>
      <a routerLink="/contact">Contact Us</a>
  </div>
  <div class="navbar-login">
    <a href="/">Logout </a>
</div>   
      
</div>
</div>