:host, .container{
    height:100vh;
  }
  .heading{
    font-size: 65px;
    font-weight: bold;
    margin-top: 30px;
    color: white;
  }
  #description,#title{
    background-color: rgba(31, 33, 33, 0.319);
    color: white;
    margin-top: 5px;
  }
  #content{
    height: 300px;
    background-color: rgba(31, 33, 33, 0.319);
    color: white;
    margin-top: 5px;
  }
  button{
    margin: 10px;
    margin-left: 5px;
  }